{% extends 'blog/base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>
    Avoir un blog, c’est bien, mais on peut vite se retrouver en panne sèche d’inspiration et perdre facilement
    une journée en tentant de trouver LE sujet qui plaira à nos lecteurs et la pression monte. STOP ! Je vous ai
    préparé une liste de 48 sortes d’articles de blog que vous pouvez
    utiliser dès aujourd’hui. Pour que votre blog fonctionne,
    vous pouvez varier le contenu, mais aussi le format, ainsi vous ne lasserez pas vos lecteurs !
</p>

    <article>
                            <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 18/05/2018 dans la categorie Article</div>

        <div class="content" >
                     <img src="http://placehold.it/350x150" alt=""><a href="" class="a.btn.btn-primary">Lire la suite</a>

                    <hr>
                             Testez les différents formats possible et voyez ce qui fonctionnent le mieux et ce qui vous plait le plus.
                             J’insiste sur le fait que vous devez trouver la formule qui vous convient car le blog demande du temps et de la régularité,
                             si c’est un vrai calvaire pour vous de l’animer, vous ne tiendrez pas !
                             Si malgré vos différents essais, vous ne trouvez pas votre bonheur, vous devriez envisager la possibilité de déléguer cette tâche.

                    </hr>
        </div>



    </article>
{% endblock %}



